* {
  box-sizing: border-box;
}

@font-face{
	font-family:Microsoft PhagsPa;
	src: local('phagspa.ttf'), url('font/phagspa.ttf');
}

/* Adição do fundo cinza claro ao body*/
body {
  background: #f1f1f1;
}

h2{
	font-family:'Khand', sans-serif;
	font-weight:bold;
	color:#2a3143;
}

h3{
	font-family:'Poppins', sans-serif;
	color::#2a3143;
}

/* Subtítulo para os textos dos artigos */
h4.subtitulo{
	font-family:'Khand', sans-serif;
	color:#2a3143;
}

h5{
	font-size:1rem;
	font-family:'Poppins', sans-serif;
}

p{
	font-family:'Microsoft PhagsPa', sans-serif;
	color:#2a3143;
	font-size:1.2rem;
}

/* Header/Blog Title */
#header {
  font-size: 40px;
  text-align: center;
  background: #2a3143;
  position:fixed;
  top:0;
  z-index:2;
}

.logo{
	float:left;
	padding-left:2%;
}

/*Código para ajustar o rodapé do card principal*/
.card-footer{
	padding:.45rem 0;	
}

ul{
	list-style-type:none;
	float:right;
	padding-right:2%;
	}

ul.bloco-midias-sociais{
	float:left;
	padding:0;
	margin:0;
	width:100%;
}
/*Links final do artigo */
ul.links-fim-artigo{
	float:left;
}

.midias-sociais{
	padding-left:2%;
	display: inline-block;	
}

a:hover{
	text-decoration:none;
    color:#2a3143;
}

#bt-cadastro:link{
	text-decoration:none;
	font-size:1.5rem;
	color:#45bcc2;
}

#cadastroTopo:hover{
	color:white;
	text-decoration:none;
}

#bt-cadastro2:link{
	text-decoration:none;
	font-size:1.5rem;
	color:#45bcc2;
}

#bt-cadastro2:hover{
	color:#2a3143;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color:#aaa;
  width: 100%;  
  background-image:url('image/artigo1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
	 width: 100%;
	 height:200px;
  background-image: url('images/banner_principal_900px.jpg');
  background-repeat: no-repeat;
  background-size: contain; 
}

.container{
	margin-top:8%;
	z-index:1;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
   box-shadow: -5px 8px 15px grey;
   z-index:2;
}

.row{
	z-index:1;
}

/* Clear floats after the columns */
.row:after{
  content: "";
  display: table;
  clear: both;
}

.form{
	display:none;
	width:50%;
	height:auto;
	float:right;
}

/* Footer */
#footer {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  background:#ddd;
}

.logo-rodape{
	margin:auto;
}

/* Ajuste das margens entre o topo e o bloco de conteúdo, para que o topo não o sobreponha */
@media screen and (max-width: 500px) {
  .container{   
    margin-top:15%;
  }
  
  .flex-container{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height:200px;
	background-image: url('images/banner_principal_500px.jpg');
	background-repeat: no-repeat;
	background-size: contain;
  }
  
  .fakeimg{
  background-image:url('images/banner_principal_500px.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  }
}

@media screen and (max-width: 699px) and (min-width: 501px) {  
	.container{   
		margin-top:12%;
  }
  
  .flex-container{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height:200px;
	background-image: url('images/banner_principal_699px.jpg');
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  .fakeimg{
  background-image:url('images/banner_principal_699px.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {  
	.container{   
		margin-top:10%;
  }  
  
   .flex-container{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height:385px;
	background-image: url('images/banner_principal_900px.jpg');
	background-repeat: no-repeat;
	background-size: contain;
  }
  
  .fakeimg{
  background-image:url('images/banner_principal_900px.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  }
}

@media screen and (min-width: 901px) {  
	.container{   
		margin-top:8%;
  }  
  
    .flex-container{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-image: url('images/banner_principal_2540px.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-color:#33cccc;
  }
}